src/logicapp-start-deallocate-vm/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]"
        },
        "armConnectionName": {
            "type": "String"
        },
        "azureVmConnectionName": {
            "type": "String"
        },
        "logicAppName": {
            "type": "String"
        },
        "tagName": {
            "type": "string"
        },
        "isStart": {
            "type": "bool"
        },
        "currentTimeVariableValue": {
            "type": "string",
            "defaultValue": "@{concat(toLower(utcNow('hhtt')), ' UTC')}"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('armConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('armConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/arm')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('azureVmConnectionName')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[parameters('azureVmConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azurevm')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('armConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', parameters('azureVmConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1,
                                "schedule": {
                                    "hours": [
                                        "0",
                                        "1",
                                        "2",
                                        "3",
                                        "4",
                                        "5",
                                        "6",
                                        "7",
                                        "8",
                                        "9",
                                        "10",
                                        "11",
                                        "12",
                                        "13",
                                        "14",
                                        "15",
                                        "16",
                                        "17",
                                        "18",
                                        "19",
                                        "20",
                                        "21",
                                        "22",
                                        "23"
                                    ]
                                },
                                "timeZone": "UTC"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Execute_Resource_Graph_Query": {
                            "runAfter": {
                                "For_each_Subscription": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.azure.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "query": "where type == 'microsoft.compute/virtualmachines' and tags.@{variables('tagName')} == '@{variables('currentTime')}' | project subscriptionId, resourceGroup, name",
                                    "subscriptions": "@variables('subscriptions')"
                                },
                                "method": "POST",
                                "uri": "https://management.azure.com/providers/Microsoft.ResourceGraph/resources?api-version=2018-09-01-preview"
                            }
                        },
                        "For_each_Resource_Graph_Query_Row": {
                            "foreach": "@body('Execute_Resource_Graph_Query')?['data']?['rows']",
                            "actions": {
                                "Start_or_Deallocate": {
                                    "actions": {
                                        "Start_virtual_machine": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azurevm']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/subscriptions/@{encodeURIComponent(items('For_each_Resource_Graph_Query_Row')[0])}/resourcegroups/@{encodeURIComponent(items('For_each_Resource_Graph_Query_Row')[1])}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(items('For_each_Resource_Graph_Query_Row')[2])}/start",
                                                "queries": {
                                                    "api-version": "2019-12-01"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "else": {
                                        "actions": {
                                            "Deallocate_virtual_machine": {
                                                "runAfter": {},
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azurevm']['connectionId']"
                                                        }
                                                    },
                                                    "method": "post",
                                                    "path": "/subscriptions/@{encodeURIComponent(items('For_each_Resource_Graph_Query_Row')[0])}/resourcegroups/@{encodeURIComponent(items('For_each_Resource_Graph_Query_Row')[1])}/providers/Microsoft.Compute/virtualMachines/@{encodeURIComponent(items('For_each_Resource_Graph_Query_Row')[2])}/deallocate",
                                                    "queries": {
                                                        "api-version": "2019-12-01"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@variables('isStart')",
                                                    true
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Execute_Resource_Graph_Query": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_Subscription": {
                            "foreach": "@body('List_subscriptions')?['value']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "runAfter": {},
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "subscriptions",
                                        "value": "@items('For_each_Subscription')?['subscriptionId']"
                                    }
                                }
                            },
                            "runAfter": {
                                "List_subscriptions": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_currentTime_variable": {
                            "runAfter": {
                                "Initialize_subscriptions_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "currentTime",
                                        "type": "string",
                                        "value": "[parameters('currentTimeVariableValue')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_isStart_variable": {
                            "runAfter": {
                                "Initialize_tagName_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "isStart",
                                        "type": "boolean",
                                        "value": "[parameters('isStart')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_subscriptions_variable": {
                            "runAfter": {
                                "Initialize_isStart_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "subscriptions",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_tagName_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "tagName",
                                        "type": "string",
                                        "value": "[parameters('tagName')]"
                                    }
                                ]
                            }
                        },
                        "List_subscriptions": {
                            "runAfter": {
                                "Initialize_currentTime_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['arm']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/subscriptions",
                                "queries": {
                                    "x-ms-api-version": "2016-06-01"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "arm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('armConnectionName'))]",
                                "connectionName": "arm",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/arm')]"
                            },
                            "azurevm": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azureVmConnectionName'))]",
                                "connectionName": "azurevm",
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azurevm')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}